body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 5px 0;
}

nav a {
    text-decoration: none;
    color: blue;
}

button {
    padding: 10px;
    background-color: #2c5feb; 
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2c5feb;
}

#fetchNumberBtn {
    background-color: #007bff; 
}

#fetchNumberBtn:hover {
    background-color: #0056b3;
}
